<header class="masthead-2 mhead-4 text-center">

    <div class="container">
      <div class="row">

  <div class="col-md-5 col-lg-5 col-xl-5 mx-auto">

    <div class="col-xl-12 mx-auto font-1 text-center pb-3">
      <h1 class="f-bold font-1 strong-color"> Cosports</h1>
    </div>



<% @event.each do |event| %>
<div class="text-left">

  <%=link_to event.title , event_path(event.id) , method: "get" %>

        <%= link_to "supprimer", admin_event_path(event.id),:data => {:confirm => 'Êtes vous sure ?'}, method: "delete", class: 'text-danger' %>
    </div>

    <%end%>

  </div>

  </div>
  </div>
  </header>
