<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %> !</h1>
    <p>
      Ta demande de participation à <%= @attendance.event.title %> a bien été accepté.
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>
