

<div class="container">
  <div class="col-xl-12 mx-auto font-1 text-center pb-3 ">
    <h1 class=" strong-color font-3"> Et près de chez toi ?</h1>
  </div>
  <div class="row mx-5">
    <div id= "main-map" class="col col-10-md col-8-lg col-10-sm mx-auto border-map">
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-3 mx-5 medium-color f-size-4 f-thin font-4 ">
      <span class="legend-map-1">Vous êtes ici.</span>
    </div>
  </div>
</div>

<%= javascript_include_tag 'main_map' %>
