<div>
  <h2><%= link_to event.title, event_path(event) %></h2>

  <small><em><%= event.city.city_name%></em></small>
  <small><em><%= event.sport.sport_name %></em></small>

  <p><%= event.description  %></p>
</div>
