
<div id="card-event">
  <div class="col-md-9 col-lg-7 col-xl-6 mx-auto ">
    <%@i = 0%>
    <% while @i < @events_hash.length %>

<!-- DATE -->
      <%= render "index_date" %>
    <!-- CARD EVENT -->
      <%= render "index_card_event" %>
    
      <% @i = @i+1 %>
    <%end%>
  </div>
</div>
