<%= paginate @events %>
<!-- METHOD FOR LOAD MORE BUTTON -->
  <div class="event-wrap py-5">
    <%= render @events %>
  </div>
  <% if @events.next_page %>
    <div class="event more py-5 mb-5">
      <%= link_to 'Load More', events_path(:page => @events.next_page), :class => 'next_page py-5 mb-5', :remote => true if @events.next_page %>
    </div>
  <% end %>
