@import "leaflet";
@import "bootstrap";




/*Leaflet CSS*/
#edit-event-map {
  height: 480px;
  width: 100%;
}

#new-event-map {
  height: 480px;
  width: 100%;
}
#show-event-map {
  height: 300px;
  width: 100%;
}
#main-map {
  height: 550px;
}
 .border-map {
  border: 2px solid #889aad !important;
  box-shadow: aquamarine;
  border-radius: 1rem !important;
}





/* Montserrat > font-1 */
@font-face {
font-family: 'Montserrat';
src: url('Montserrat/Montserrat-Regular.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'Montserrat';
src: url('Montserrat/Montserrat-Thin.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
@font-face {
font-family: 'Montserrat';
src: url('Montserrat/Montserrat-Medium.ttf') format('truetype');
font-weight: 500;
font-style: normal;
}
@font-face {
font-family: 'Montserrat';
src: url('Montserrat/Montserrat-Bold.ttf') format('truetype');
font-weight: 700;
font-style: normal;
}
@font-face {
font-family: 'Montserrat';
src: url('Montserrat/Montserrat-Black.ttf') format('truetype');
font-weight: 900;
font-style: normal;
}

/* Asap font-2 */
@font-face {
font-family: 'Asap';
font-weight: 400;
font-style: normal;
src: url('Asap/Asap-Regular.ttf') format('truetype');
}
@font-face {
font-family: 'Asap';
font-weight: 500;
font-style: normal;
src: url('Asap/Asap-Medium.ttf') format('truetype');
}
@font-face {
font-family: 'Asap';
font-weight: 600;
src: url('Asap/Asap-MediumItalic.ttf') format('truetype');
}
@font-face {
font-family: 'Asap';
font-weight: 700;
font-style: normal;
src: url('Asap/Asap-Bold.ttf') format('truetype');
}

/* SportingGrotesque font-3 */
@font-face {
font-family: 'Sporting';
font-weight: 400;
font-style: normal;
src: url('SportingGrotesque/SportingGrotesque-Regular.otf') format('opentype');
}
@font-face {
font-family: 'Sporting';
font-weight: 700;
font-style: normal;
src: url('SportingGrotesque/SportingGrotesque-Bold.otf') format('opentype');
}

/* Metropolis  => font-4 */
@font-face {
font-family: 'Metropolis';
src: url('Metropolis/Metropolis-Regular.otf') format('opentype');
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'Metropolis';
src: url('Metropolis/Metropolis-Thin.otf') format('opentype');
font-weight: 100;
font-style: normal;
}
@font-face {
font-family: 'Metropolis';
src: url('Metropolis/Metropolis-Medium.otf') format('opentype');
font-weight: 500;
font-style: normal;
}
@font-face {
font-family: 'Metropolis';
src: url('Metropolis/Metropolis-Bold.otf') format('opentype');
font-weight: 700;
font-style: normal;
}
@font-face {
font-family: 'Metropolis';
src: url('Metropolis/Metropolis-Black.otf') format('opentype');
font-weight: 900;
font-style: normal;
}


/* ---------------------------------------------------
    COLORS STYLE
----------------------------------------------------- */
// color main
$f-color-1: #ff815a;   //corail
$f-color-2: #6f4dff;   //electric-purple
$f-color-3: #2ff4b7;   //green-pepsi

.primary-color { color: $f-color-1 !important; }
.secondary-color { color: $f-color-2 !important; }
.third-color { color: $f-color-3 !important; }

// color shade/grey
$s-color-1: #f1f1f15e;
$s-color-2: #575757;
$s-color-3: #080416;

.light-color { color: $s-color-1; }
.medium-color{ color: $s-color-2; }
.strong-color { color: $s-color-3; }

//color shade/grey/bg
.light-color-bg { background-color: $s-color-1; }
.medium-color-bg{ background-color: $s-color-2; }
.strong-color-bg { background-color: $s-color-3; }

// color for background
$m-color-1: #f6f6f6 ;
$m-color-2: #bababa;

.primary-color-bg { background-color: $m-color-1;}
.secondary-color-bg { background-color: $m-color-2;}

/* ---------------------------------------------------
    FONTS STYLE
----------------------------------------------------- */
//LOGO font
$f-thin: 100;
$f-light: 300;
$f-regular: 400;
$f-medium: 500;
$f-medium-italic: 600;
$f-bold: 700;
$f-extra-bold: 800;
$f-black: 900;

$font-1: 'Montserrat';
$font-2: 'Asap';
$font-3: 'Sporting';
$font-4: 'Metropolis';

.f-thin {font-weight: $f-thin;}
.f-regular {font-weight: $f-regular;}
.f-medium {font-weight: $f-medium;}
.f-medium-italic {font-weight: $f-medium-italic;}
.f-bold {font-weight: $f-bold;}
.f-extra {font-weight: $f-extra-bold;}
.f-black {font-weight: $f-black;}

.font-1 {font-family: $font-1;}
.font-2 {font-family: $font-2;}
.font-3 {font-family: $font-3;}
.font-4 {font-family: $font-4;}

/* ---------------------------------------------------
    FONTS SIZE
----------------------------------------------------- */

$f-size-1: 3rem;
$f-size-2: 2rem;
$f-size-3: 1.5rem;
$f-size-4: 1.05rem;
$f-size-5: 0.8rem;

.f-size-1{ font-size: $f-size-1 }
.f-size-2{ font-size: $f-size-2 }
.f-size-3{ font-size: $f-size-3 }
.f-size-4{ font-size: $f-size-4 }
.f-size-5{ font-size: $f-size-5 }




 /* ---------------------------------------------------
     SETUP NAVBAR AND FOOTER STICKY WITH FLEXBOX
 ----------------------------------------------------- */

html {
height: 100%;
}

 html,body {
  padding-top:70px;
  background-color: $m-color-1;
  }
 body {
  display: flex;
  height: 100vh;
  flex-direction: column;

  overflow-x: hidden;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #2ff4b74f;
}

.extended-content-container {
    width: 500%;
    margin-left: -200%;
    padding: 20px;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  background-color: grey;
  max-height: 65px;
  min-height: 65px;
  color: #f6f6f6;
}

section {
    min-height:calc(100% - 70px);
}
 .navbar {
  box-shadow: 0px 0px 10px -5px white;
 }

// icon navbar
.icon-medium {
    width: 130px;
}
 .icon-large {
     width: 235px;
 }
 .icon-xlarge {
     width: 240px;
 }


 /* Dropdown Button */
 .dropbtn {
  font-size: 16px;
  border: none;
  cursor: pointer;
 }
 .dropdown {
   position: relative;
   display: inline-block;
   float: right;
 }

 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99999 !important;
  right:0
 }

 .dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
 }

 .dropdown-content a:hover {
   background-color: #2ff4b7;
 }

 .nav-color {
     color: $f-color-2 !important;
 }

 span.notification{
   background-color: $f-color-3;
   width: 25px;
   height: 24px;
   position: absolute;
   border-radius: 15px;
   top: -12px;
   right: -15px;
   color: white;
 }

 span.notification-dropdown {
   background-color: $m-color-1;
   width: 25px;
   height: 20px;
   position: absolute;
   border-radius: 28px;
   top: 110px;
   right: 25px;
   color: $f-color-3;
   border: 1px solid;
 }

 .show {
   display: block;
 }
 .dropdown-content {
   border: 1px solid #6f4dff;
   box-shadow: -1px 1px 0px 1px #7758f9;
 }

 button.dropbtn.nav-link.secondary-color {
    outline: 0px;
    border-top: 0px solid #2ff4b7;
    background-color: white;
}
 /* END Dropdown Button */


 span.ico-map::before {
  content: "";
  display: block;
  -webkit-mask: url(map-icon.svg) no-repeat 50% 50%;
  mask: url(map-icon.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;  width: 20px;
  height: 20px;
  float: left;
  margin: 10px 10px 0 0;
}

 span.ico-plus::before {
  content: "";
  display: block;
  -webkit-mask: url(plus-icon.svg) no-repeat 50% 50%;
  mask: url(plus-icon.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;  width: 20px;
  height: 20px;
  float: left;
  margin: 10px 10px 0 0;
}

span.ico-search::before {
 content: "";
 display: block;
 -webkit-mask: url(search-icon.svg) no-repeat 50% 50%;
 mask: url(search-icon.svg) no-repeat 50% 50%;
 -webkit-mask-size: cover;
 mask-size: cover;  width: 20px;
 height: 20px;
 float: left;
 margin: 10px 10px 0 15px;
}

span.legend-map-1::before {
  content: "";
      display: block;
      width: 20px;
      height: 20px;
      float: left;
      border-radius: 15px;
      background-color: #ff815a;
      margin: 1px 15px 0 0;
}

img.icon-social { width: 100px; max-height: 200px;}

.icon-color:before {
  background-color: $f-color-2;
}


.border-bottom-nav {
  border-bottom: 0.6px solid $m-color-2;
  z-index: 10000 !important;
}

.dropdown-menu {
    left: -3rem;
}
 #section-main {
     min-height:calc(100% - 70px);
}



/* ---------------------------------------------------
      COMPONENTS BOOTSTRAP STYLE
----------------------------------------------------- */

// basic
:root {
  --mainColor: #ff815a;
  --secondaryColor: #2ff4b7;
  --thirdColor: #6f4dff;
}
a.event-landing-page {
  background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
  color: #6c685c;
  text-decoration: none;
  transition: background-size .2s;
}

a.event-landing-page:hover {
  color: #000;
  text-decoration: none;
  background-size: 4px 50px;
}

.event-landing-page > a {
    background:
      linear-gradient(
      to bottom, var(--mainColor) 0%,
      var(--mainColor) 100%
    );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    color: #757575;
    text-decoration: none;
    transition: background-size .2s;
}

.event-landing-page > a:hover {
  color: #000;
  text-decoration: none;
  background-size: 4px 50px;
}

a.event-profil-page {
  background:
    linear-gradient(
      to right,
      var(--secondaryColor) 0%,
      var(--secondaryColor) 0px,
      transparent 2px
     );
    background-repeat: repeat-x;
    background-size: 100%;
    text-decoration: none;
    border-radius: 0px;
}

a.event-profil-page:hover {
  background:
     linear-gradient(
       to right,
       var(--secondaryColor) 0%,
       var(--secondaryColor) 5px,
       transparent
     );  background:
          linear-gradient(
            to right,
            var(--secondaryColor) 0%,
            var(--secondaryColor) 5px,
            transparent
          );
}

//button
.btn-primary {
  background-color: $f-color-1;
  border: 0px;
}
.btn-secondary {
    background-color: transparent;
    color: #808080;
    border-width: 0px;
    border: 1px solid #cdcdcd;
    box-shadow: -4px 4px 0px 4px #6d685c3b;
    border-radius: 5px;
}

.btn-light {
  background-color: transparent;
  color: #808080;
  border-width: 0px;
  box-shadow: 0px 1px 0px 0px #6d685c3b;
}

.btn-primary:hover {
  background-color: $f-color-2;
}
.btn-secondary:hover {
    color: #f6f6f6;
}
.btn-light:hover {background-color: $m-color-1; }
.btn:focus, .btn.focus {
    outline: 0;
   box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
}

div.file-inputs {
	position: relative;
}

div.fake-file {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  cursor: pointer;

}

input.file {
	position: relative;
	text-align: right;
  filter: alpha(opacity=0); /* use '=' here, not ':' */
  opacity: 0;
  -moz-opacity: 0;	opacity: 0;
	z-index: 2;
}


//nav-pills
.nav-pills .nav-link {
    border-radius: 0px;
    margin: 0px 0 20px 0;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: transparent;
}
a.navpill-profil {
  background:
    linear-gradient(
      to right,
      var(--secondaryColor) 0%,
      var(--secondaryColor) 0px,
      transparent 2px
     );
    background-repeat: repeat-x;
    background-size: 100%;
    text-decoration: none;
    border-radius: 0px;
}
a.navpill-profil:hover {
  background:
     linear-gradient(
       to right,
       var(--secondaryColor) 0%,
       var(--secondaryColor) 5px,
       transparent
     );
}

.btn-comment {
  background:
  linear-gradient(
  to right, var(--secondaryColor) 30%,
   var(--secondaryColor) 68px,
    transparent 5px
    );
  background-repeat: repeat-x;
  background-size: 100%;
  text-decoration: none;
  border-radius: 8px;
  border: 0px;
}
.btn-comment:hover {
  background:
     linear-gradient(
       to right,
       var(--secondaryColor) 0%,
       var(--secondaryColor) 5px,
       transparent
     );
}

//form
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 12px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #6f4dff;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-light {
    display: block;
    width: 100%;
    height: calc(2.25rem + 12px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #757575;
    background-color: #fff;
    background-clip: padding-box;
    border-width: 0px;
    border: 1px solid #cdcdcd;
    box-shadow: -1px 1px 0px 1px #6d685c3b;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ff815a;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(255, 129, 90);
}

.form-control-light:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ff815a;
    outline: 0;
    box-shadow: 0 0 0 0.05rem rgb(255, 129, 90);
}


//time_field_tag form
span.time-spinner {
  position: absolute;
  top: -15px;
  left: 17px;
  font-size: small;
  font-style: italic;
   }
input[type="time"] {

  width: 100%;
  height: calc(2rem + 8px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-width: 0px;
  border: 1px solid #cdcdcd;
  box-shadow: -1px 1px 0px 1px #6d685c3b;
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type="time"]:focus {
  outline: #ff815a00 solid 4px;
  box-shadow: 0 0 0 3pt #ff815a;
  border: 0px;
}


//form devise
a.links-devise:hover {
    color: #ff815a;
    border-bottom: 1px solid #ff815a;
    text-decoration: none;
}

// alert

.alert-success {
    color: #18684f;
    background-color: #2ff4b7a3;
    border-color: #82d7bc;
}

.alert-danger {
  color: #8f0153;
      background-color: #f32929bd;
      border-color: #db3737;
}

/* ---------------------------------------------------
    LANDING PAGE (home#index)
----------------------------------------------------- */
// logo
.our-logo { width: 100px;}
.logo-font-size { font-size: 2rem; }
// banners

div.container-fluid { padding: 0px; }

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("banner4.png") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 5rem;
  color: $f-color-2;
}

header.masthead-2 {
  position: relative;
  background-color: #343a40;
  background-size: cover;
  padding-top: 2rem;
  padding-bottom: 8rem;
  color: $f-color-2;
}

header.mhead-1 {  background-color: #f6f6f6; }
header.mhead-2 {  background: url("banner2.png") no-repeat center center; }
header.mhead-3 {  background: url("banner6.png") no-repeat center center; }
header.mhead-4 {  background: url("banner.png") no-repeat center center; }
header.mhead-5 {  background: url("banner5.png") no-repeat center center; }

 .overlay {
  position: absolute;
  // background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  // opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

//title landing-page
h2.f-bold {
    font-size: 4rem;
    color: black;
}
//subtitle landing-page
h5.f-light.mb-5 {
    color: $f-color-2;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}


.line-home {
  width: 35vw;
  border: 3px solid #dfdfdf;
  margin-bottom: 5em;
  margin-top: 2em;
  border-radius: 10px;
}

.features-icons {
  padding-top: 8rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

//section

section.section-2 {
  min-height: 400px;
}


/* ---------------------------------------------------
    EVENT PAGE (events#index)
----------------------------------------------------- */

//cards style for sport events
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 6.1rem;
  padding: 10px;
  z-index: 999 !important;
}
.extended-content-container {
    width: 500%;
    margin-left: -200%;
    padding: 20px;
}
/* Category Ads */

#card-event {
    margin: 30px 0 30px 0;

}


#card-event .sport-notify-badge {
  position: absolute;
  right: 0px;
  top: 0px;
  /* background: #ff815a; */
  text-align: center;
  color: #6f4dff;
  /* font-size: 14px; */
  width: auto;
  height: 0px;
  padding: 0px 0px 0 0;
  border-right: #6f4dff 6px solid;
  /* border-left: 1px solid #6f4dff; */
  padding: 6rem 2rem 32px 0rem;
  border-top-right-radius: 30px;
}

#card-event img.profil-picture {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
}

.card-event-index {
  border-radius: 30px;
}

.card-border-event {
  height: auto;
  width: 48.5vw;
  border-width: 0px;
  border: 1px solid #cdcdcd;
  box-shadow: -4px 4px 0px 4px #6d685c3b;
  border-radius: 5px;
}

//span profil image landing page

span.profil-picture {
  position: absolute;
  right: 25px;
  top: 70px;
}

span.profil-picture-event {
  position: absolute;
  left: 30px;
  top: -35px;
}

span.profil-picture-event-show {
  position: absolute;
  left: 80px;
  top: 25px;
}

span.profil-picture-event-show {
  position: absolute;
  left: 80px;
  top: 25px;
}
span.profil-picture-event-all {
  position: absolute;
left: 30px;
top: 25px;
}

//span profil image profil user
span.profil-picture-user {
  display: block;
}

//span profil image profil edit
div.profil-picture-edit {
  display: block;
  top: -130px;
  left: 280px;
  position: absolute;

}
.user {
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 5px solid #000000;
    background-color: white;
}

.user-no-picture {
  border-color: $s-color-2;
}

.user-edit {
  width: 210px !important;
  height: 210px !important;
  opacity: 1;
}

#card-event .card:hover {
  background: #fff;
  box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
  border-radius: 30px;
  transition: all 0.3s ease;
        }

  .my-group .form-control{
          width:50%;
    }

    /* ---------------------------------------------------
        EVENT SHOW (events#index)
    ----------------------------------------------------- */
textarea{
  height: 100px;
  width: 48.5vw;
  border-width: 0px;
  border: 1px solid #cdcdcd;
  box-shadow: -1px 1px 0px 1px #6d685c3b;
  border-radius: 5px;
    }
textarea:focus {
  outline: #ff815a00 solid 4px;
  box-shadow: 0 0 0 3pt #ff815a;
  border: 0px;
}

b.event-hover {
  background-color: $f-color-3;
}

/* ---------------------------------------------------
    USER SHOW (User#show)
----------------------------------------------------- */

.card-box {
    border-width: 0px;
    border: 1px solid #cdcdcd;
    box-shadow: -4px 4px 0px 4px #6d685c3b;
    border-radius: 5px;
}

.split-agenda {
    border-right: 1px solid #d6d5d2;
  }

.card.card-agenda {
border: none !important;
}


.comment-box {
  max-height: auto;
  background-color: $m-color-1;
  // overflow: overlay;
}

span.icon-comment-down {
    width: 25px;
    position: absolute;
    bottom: 0px;
    left: 261px;
}

    /* ---------------------------------------------------
      MEDIA QUERIES (events#index)
    ----------------------------------------------------- */


    // Small devices (landscape phones, less than 768px)
    @media (max-width: 767.98px) {
      .form-row.form-landing-page {
        padding: 10px 50px 0px 50px;
      }
      header.masthead {
        position: relative;
        padding-top: 0rem;
      }
      h2.f-bold {
        font-size: 2.2rem;
        padding: 0rem 5rem 1rem 5rem;
      }
     }
