@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/


/* Asap */
@font-face {
font-family: 'Asap';
src: url(asset-path('Asap/Asap-Bold.ttf')) format('truetype');
src: url(asset-path('Asap/Asap-BoldItalic.ttf')) format('truetype');
src: url(asset-path('Asap/Asap-Italic.ttf')) format('truetype');
src: url(asset-path('Asap/Asap-Medium.ttf')) format('truetype');
src: url(asset-path('Asap/Asap-MediumItalic.ttf')) format('truetype');
src: url(asset-path('Asap/Asap-Regular.ttf')) format('truetype');
src: url(asset-path('Asap/Asap-SemiBoldItalic.ttf')) format('truetype');
src: url(asset-path('Asap/Asap-SemiBold.ttf')) format('truetype');
}


/* Changa */
@font-face {
font-family: 'Changa';
src: url('Changa/Changa-Bold.ttf') format('truetype');
src: url('Changa/Changa-ExtraBold.ttf') format('truetype');
src: url('Changa/Changa-ExtraLight.ttf') format('truetype');
src: url('Changa/Changa-Light.ttf') format('truetype');
src: url('Changa/Changa-Medium.ttf') format('truetype');
src: url('Changa/Changa-Regular.ttf') format('truetype');
src: url('Changa/Changa-SemiBold.ttf') format('truetype');
}


/* Montserrat */
@font-face {
font-family: 'Montserrat';
src: url('Montserrat/Montserrat-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Montserrat';
src: url('Montserrat/Montserrat-Thin.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
@font-face {
font-family: 'Montserrat';
src: url('Montserrat/Montserrat-Medium.ttf') format('truetype');
font-weight: 500;
font-style: normal;
}
@font-face {
font-family: 'Montserrat';
src: url('Montserrat/Montserrat-Bold.ttf') format('truetype');
font-weight: 600;
font-style: normal;
}
@font-face {
font-family: 'Montserrat';
src: url('Montserrat/Montserrat-Black.ttf') format('truetype');
font-weight: 800;
font-style: normal;
}



/* League Spartan */
@font-face {
    font-family: 'League Spartan';
    src: url('leaguespartan-bold.eot');
    src: url('leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('leaguespartan-bold.woff2') format('woff2'),
         url('leaguespartan-bold.woff') format('woff'),
         url('leaguespartan-bold.ttf') format('truetype'),
         url('leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;

}





 /* ---------------------------------------------------
     SETUP NAVBAR AND FOOTER STICKY WITH FLEXBOX
 ----------------------------------------------------- */

 html,body {
 	height:100%;
  padding-top:70px;
  }
 body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  background-color: grey;
}

 .navbar {
   -webkit-transition:padding 0.2s ease;
   -moz-transition:padding 0.2s ease;
   -o-transition:padding 0.2s ease;
   transition:padding 0.2s ease;
 }

 .affix {
   padding-top: 0.2em !important;
   padding-bottom: 0.2em !important;
   -webkit-transition:padding 0.2s linear;
   -moz-transition:padding 0.2s linear;
   -o-transition:padding 0.2s linear;
   transition:padding 0.2s linear;
 }


 section {
     min-height:calc(100% - 70px);
}


/* ---------------------------------------------------
    COLORS STYLE
----------------------------------------------------- */
// color main
$f-color-1: #ff815a;   //corail
$f-color-2: #6f4dff;   //electric-purple
$f-color-3: #2ff4b7;   //green-pepsi

.primary-color { background-color: $f-color-1; }
.secondary-color { background-color: $f-color-2; }
.third-color { background-color: $f-color-3; }

// color shade/grey
$s-color-1: #e2e0df;
$s-color-2: #575757;
$s-color-3: #080416;

.light-color { background-color: $s-color-1; }
.medium-color{ background-color: $s-color-2; }
.strong-color { background-color: $s-color-3; }

// color for background
$m-color-1: #f1efeb;
$m-color-2: #bababa;

.primary-color-bg { background-color: $m-color-1;}
.secondary-color-bg { background-color: $m-color-2;}

/* ---------------------------------------------------
    FONTS STYLE
----------------------------------------------------- */
//LOGO font



/* ---------------------------------------------------
    LANDING PAGE (home#index)
----------------------------------------------------- */
// logo
.our-logo { width: 100px;}
.our-logo-typo {
  font-family: 'Montserrat',Helvetica, Arial, sans-serif;
  font-weight: 800;
}
// banners

div.container-fluid { padding: 0px; }
header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}
