<footer class="footer col text-center text-light align-self-items " style="min-height: 50px; color: #f6f6f6;">

  <span class=" text-center align-middle pt-3">    Fait avec amour à Lille<b style="color: red;"> &#x2665;</b>  </span>

</footer>
