<footer class="footer col text-center text-light align-self-items ">

  <span class=" text-center align-middle pt-3">    Fait avec amour à Lille<b style="color: red;"> &#x2665;</b>  </span>

</footer>
